@model IEnumerable<Employee>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between align-items-center alert alert-success">
    <h1 class="">Employees Management System</h1>
    <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Add New Employee</a>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E=>E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.Gender)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                <th>@Html.DisplayNameFor(E => E.IsActive)</th>
                <th>Detailes</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                   <td>@employee.Name</td>
                   <td>@Html.DisplayFor(M=>employee.Email)</td>
                   <td>@employee.Gender</td>
                   <td>@Html.DisplayFor(M => employee.Salary)</td>
                   <td>@employee.HiringDate</td>
                   <td>@Html.DisplayFor(M=>employee.IsActive)</td>
                    <td><a class="btn btn-info" asp-controller="Employee" asp-action="view" asp-route-id="@employee.Id"><i class="fa-regular fa-eye"></i>View</a></td>
                    <td><a class="btn btn-warning" asp-controller="Employee" asp-action="Update" asp-route-id="@employee.Id"><i class="fa-solid fa-pen"></i>Update</a></td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@employee.Name.Split(" ")[0]@employee.Id"><i class="fa-solid fa-trash"></i> Delete</button>
                    </td>
                    <div class="modal fade" id="@employee.Name.Split(" ")[0]@employee.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="h4 modal-title fs-5" id="staticBackdropLabel">Delete Employee @employee.Name</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="Delete" asp-route-id="@employee.Id">
                                        <p>Are you sure to delete this Department</p>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </tr>
            }
        </tbody>

    </table>

}
else
{
    <div class="alert alert-warning text-center">
        <p>sorry there is no employee to show</p>
    </div>    
}

