@model IEnumerable<EmployeeViewModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between align-items-center alert alert-success">
    <h1 class="h3">Employees Management System</h1>
    <form asp-for="Index" class="d-flex ">
        <input type="search" name="SerachName" placeholder="Search Name" class="form-control">
        <button type="submit" class="btn btn-success mx-2">Search</button>
    </form>
    <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Add New Employee</a>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E=>E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.Gender)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E=>E.Department)</th>
                <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                <th>@Html.DisplayNameFor(E => E.IsActive)</th>
                <th>Detailes</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                   <td>@employee.Name</td>
                   <td>@Html.DisplayFor(M=>employee.Email)</td>
                   <td>@employee.Gender</td>
                   <td>@Html.DisplayFor(M => employee.Salary)</td>
                   <td>@employee.Department?.Name</td>
                   <td>@employee.HiringDate</td>
                   <td>@Html.DisplayFor(M=>employee.IsActive)</td>
                    <partial name="_ButtonsPartial" model="employee"/>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="alert alert-warning text-center">
        <p>sorry there is no employee to show</p>
    </div>    
}
@section ToasrtShow {
    <script>
        if ('@string.IsNullOrEmpty(TempData["Message"] as string)' == "False") {
            toastr.info('@TempData["Message"]');
        }
    </script>
}


